/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.bg-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: Roboto;
  font-size: 30px;
  color: #f8fafc;
}

.image {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 64px;
  }
}

@media screen and (min-width: 768px) {
  .image {
    width: 300px;
  }
}
